beautifulsoup4==4.11.1
matplotlib==3.5.2
numpy==1.22.4
mysql-connector-python==8.0.29
pandas==1.4.2
pymysql==1.0.2
pyspark==3.3.0
Quartz==0.0.1.dev0
requests==2.27.1
python-dotenv==0.20.0
scikit_learn==1.1.1
SQLAlchemy==1.4.37
torch==1.11.0
